* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;

}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.todo-app h2 {
    color: #002765;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    color: #fff;
    background: #a43ae2;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul li {
    list-style: disc;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineThrough {
    color: #555;
    text-decoration: line-through;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.delete-button {
    background: #fdf5ff;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    border-radius: 50%;
}
.delete-button:hover{
    background-color: #d1c7c7;
    cursor: pointer;
}
p{
    cursor: pointer;
}